---
title: "Bookmarks"
---
<div class="archive">
{% capture cache %}

{% assign year = "" %}
{% assign month = "" %}

{% for post in site.posts %}

{% if post.source_url %}

{% assign post_year = post.date | date: "%Y" %}
{% assign post_month = post.date | date: "%B" %}

{% unless year == post_year %}
{% assign year = post_year %}
{% assign month = "" %}
<h3 id="{{ year }}">{{ year }}</h3>
{% endunless %}

{% unless month == post_month %}
{% assign month = post_month %}
<h4 id="{{ month }}{{ year }}">{{ month }}</h4>
{% endunless %}

<p>
<a href="{{ post.url }}">{{ post.title }}</a> <a href="{{ post.source_url }}"><sup><i class="ion-android-open"></i></sup></a>
</p>

{% endif %}

{% endfor %}

{% endcapture %}{{ cache | strip_newlines }}{% assign cache = nil %}
</div>