<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description | strip_newlines }}">
  <meta name="author" content="Arif Rasyidi">
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-touch-icon-57x57.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-touch-icon-60x60.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-touch-icon-76x76.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-touch-icon-120x120.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-touch-icon-152x152.png?v=JynKWEOq9p">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon-180x180.png?v=JynKWEOq9p">
  <link rel="icon" type="image/png" href="/icon/favicon-32x32.png?v=JynKWEOq9p" sizes="32x32">
  <link rel="icon" type="image/png" href="/icon/favicon-194x194.png?v=JynKWEOq9p" sizes="194x194">
  <link rel="icon" type="image/png" href="/icon/favicon-96x96.png?v=JynKWEOq9p" sizes="96x96">
  <link rel="icon" type="image/png" href="/icon/android-chrome-192x192.png?v=JynKWEOq9p" sizes="192x192">
  <link rel="icon" type="image/png" href="/icon/favicon-16x16.png?v=JynKWEOq9p" sizes="16x16">
  <link rel="manifest" href="/icon/manifest.json?v=JynKWEOq9p">
  <link rel="shortcut icon" href="/favicon.ico?v=JynKWEOq9p">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="msapplication-TileImage" content="/icon/mstile-144x144.png?v=JynKWEOq9p">
  <meta name="theme-color" content="#ffffff">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/lib.css">
  <link rel="stylesheet" href="/css/app.css">
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>