<div class="sidebar left shadow">
  <a href="/">Home</a>
  <a href="/archive.html">Archive</a>
  <a href="/projects.html">Projects</a>
  <a href="/contact.html">Contact</a>
  <a href="/terms.html">Terms and Conditions</a>
  <a href="/feed.xml">RSS Feed</a>
  
  <form class="search-form" method="get" action="https://www.google.com/search">
    <input class="u-full-width query" type="text" placeholder="Search..." name="as_q">
    <input type="hidden" name="as_sitesearch" value="www.google.com" />
    <span class="add-on" type="submit"><button class="btn" type="submit"><i class="ion-search"></i></button></span>  
  </form>
  
  <div class="author">
    <div class="name">M. Arif Rasyidi</div>
    <div class="info">
      Currently NEET.<br>
      Ex-research assistant, 
      machine learning and data mining enthusiast, 
      fan of combinatorial optimization, 
      Indonesian culinary lover, 
      expert in Indomie.<br>
      I code to make my life simpler.
    </div>
    <div class="social">
      <a href="https://twitter.com/arifrasyidi"><i class="ion-social-twitter"></i></a>
      <a href="https://www.facebook.com/m.arifrasyidi"><i class="ion-social-facebook"></i></a>
      <a href="http://id.linkedin.com/in/arifrasyidi"><i class="ion-social-linkedin"></i></a>
    </div>
  </div>
</div>

<div class="shade"></div>