---
layout: default
---
<div class="post">
  <h1 class="title">
  {% if page.source_url %}
    <a href="{{ page.source_url }}">{{ page.title }} <sup><i class="ion-android-open"></i></sup></a>
  {% else %}
    {{ page.title }}
  {% endif %}
  </h1>
  
  <div class="meta">
    <i class="ion-calendar" title="UTC"></i> {{ page.date | date: "%A, %B %-d, %Y" }}
    {% if page.comment %}
    <a href="#comments" class="comment-link">
      <i class="ion-ios-chatbubble"></i>
      <span class="disqus-comment-count">0 Comments</span>
    </a>
    {% endif %}
  </div>
  
  <hr>
  
  <div class="content">
    {{ content }}
  </div>
  
  {% if page.comment %}
  {% assign disqus_id = page.url %}
  {% if page.disqus_id %}{% assign disqus_id = page.disqus_id %}{% endif %}
  <script>var disqus_id = '{{ disqus_id }}';</script>
  <div id="comments">
  <div id="disqus_thread" class="comment">
    <span class="btn-comment"><i class="ion-chatboxes"></i></span>
  </div>
  </div>
  {% endif %}
</div>